@model IEnumerable<PandaStore.Models.Product>
@{
    ViewData["Title"] = "Kläder";
}

@*Style*@
<style>
    .card {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .card-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .row.cards-row {
        margin-top: 100px;
    }
</style>

<h1 style="text-align:center;">Kläder</h1>

<br />
<br />

@*Produkter*@
<div class="container">
    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="card">
                    <img src="@item.ImgUrl" class="card-img-top" alt="Product picture">
                    <div class="card-body">
                        <h5 class="card-title">@item.ProductTitel</h5>
                        <p class="card-text" style="font-style: italic;">@item.Description</p>
                        <p class="card-text">Lagerstatus <b>(@item.InventoryQuantity)</b></p>
                        <h6 class="card-title"><b>@item.Price SEK</b></h6>

                        <form method="post" asp-controller="CustomerProduct" asp-action="AddToCart">
                            <input type="hidden" name="productId" value="@item.ProductID" />
                            <input type="hidden" name="price" value="@item.Price" />
                            @if (item.InventoryQuantity > 0)
                            {
                                <div class="quantity-input">
                                    <input type="number" name="quantity" value="1" min="1" max="@item.InventoryQuantity" step="1" inputmode="numeric" />
                                </div>
                                <button type="submit" class="btn btn-primary buy-button">Köp</button>
                            }
                            else
                            {
                                <h6>Slutsåld</h6>
                                <button type="submit" class="btn btn-primary buy-button" disabled>Köp</button>
                            }
                        </form>

                        @foreach (var campaign in item.Campaigns)
                        {
                            <p>Rabatt: @campaign.Discount</p>
                            <p>Giltig till: @campaign.EndDate</p>
                        }
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<script>
    // Lägg till händelselyssnare för plus- och minusknapparna
    document.querySelectorAll('.quantity-minus').forEach(function (button) {
        button.addEventListener('click', function () {
            var input = this.nextElementSibling;
            if (input.value > 1) {
                input.value = parseInt(input.value) - 1;
            }
        });
    });

    document.querySelectorAll('.quantity-plus').forEach(function (button) {
        button.addEventListener('click', function () {
            var input = this.previousElementSibling;
            if (input.value < input.getAttribute('max')) {
                input.value = parseInt(input.value) + 1;
            }
        });
    });
</script>


