@model PandaStore.Models.Campaign

@{
    ViewData["Title"] = "Details";
}

<h1>Kampanj Detaljer</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Skapad av")
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.PandaUsers.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Produkt")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Products.ProductTitel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Beskrivning")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Products.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Startdatum")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Slutdatum")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Rabatt")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount)%
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Tillbaka</a>
</div>
