@model IEnumerable<PandaStore.Models.Campaign>

@{
    ViewData["Title"] = "Index";
}

<h1>Kampanjer</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Skapa Kampanj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Skapad av")
            </th>
            <th>
                @Html.DisplayName("Produkt")
            </th>
            <th>
                @Html.DisplayName("Startdatum")
            </th>
            <th>
                @Html.DisplayName("Slutdatum")
            </th>
            <th>
                @Html.DisplayName("Rabatt")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.Raw(item.PandaUsers.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Products.ProductTitel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)%
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CampaignID">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.CampaignID">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
