@model List<Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Shop</h1>

<h1 style="text-align:center;">Elektronik</h1>

<br />
<br />
@foreach (var item in Model)
{
    @if (item.Categorys.CategoryId == 2)
    {
        @*Första raden med produkter*@
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="card">
                        <img src="/images/Electronics/wepik-export-20230526135134DFqR.png" class="card-img-top" alt="iPhone mobile phone">
                        <div class="card-body">
                            <h6>@item.ProductTitel</h6>
                            <h3 class="card-title">iPhone 14</h3>
                            <p class="card-text">Finns i flera färger</p>
                            <h6 class="card-title">11 995 kr</h6>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="card">
                        <img src="/images/Electronics/wepik-export-20230526135134DFqR.png" class="card-img-top" alt="Samsung mobile phone">
                        <div class="card-body">
                            <h6>@item.ProductTitel</h6>
                            <h3 class="card-title">Galaxy S23</h3>
                            <p class="card-text">Finns i flera färger</p>
                            <h6 class="card-title">11 445 kr</h6>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="card">
                        <img src="/images/Electronics/wepik-export-20230526135134DFqR.png" class="card-img-top" alt="iPhone mobile phone">
                        <div class="card-body">
                            <h6>@item.ProductTitel</h6>
                            <h3 class="card-title">iPhone 13</h3>
                            <p class="card-text">Ej i lager - Åter i lager: 2023-05-27</p>
                            <h6 class="card-title">10 495 kr</h6>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="card">
                        <img src="/images/Electronics/wepik-export-20230526135134DFqR.png" class="card-img-top" alt="Samsung mobile phone">
                        <div class="card-body">
                            <h6>@item.ProductTitel</h6>
                            <h3 class="card-title">Galaxy S22</h3>
                            <p class="card-text"></p>
                            <h6 class="card-title">9 995 kr</h6>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="card">
                        <img src="/images/Electronics/wepik-export-20230526135134DFqR.png" class="card-img-top" alt="Google mobile phone">
                        <div class="card-body">
                            <h6>@item.ProductTitel</h6>
                            <h5 class="card-title">Pixel 7 Pro</h5>
                            <p class="card-text"></p>
                            <h6 class="card-title">9 995 kr</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <br />

        @*Andra raden med produkter*@
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <a href="@Url.Action("Details", "Produkter", new { id = item.ProductID })">
                        <div class="card">
                            <img src="/images/Electronics/wepik-export-20230526135134DFqR.png" class="card-img-top" alt="MSI laptop">
                            <div class="card-body">
                                <h6>@item.ProductTitel</h6>
                                <h3 class="card-title">Titan GT77 HX - 17,3"</h3>
                                <p class="card-text">i9 | 64GB | 4T | RTX | 4090 | 144Hz | 4K | Mini-LEDS</p>
                                <h6 class="card-title">59 990 kr</h6>
                            </div>
                        </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="card">
                        <img src="/images/grayblazer.png" class="card-img-top" alt="Blazer">
                        <div class="card-body">
                            <h5 class="card-title">Tiger of Sweden</h5>
                            <p class="card-text">Lyxig kavaj för Herr</p>
                            <h6 class="card-title"><del>2499 SEK</del> 1199 SEK</h6>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="card">
                        <img src="/images/suit.png" class="card-img-top" alt="Suit">
                        <div class="card-body">
                            <h5 class="card-title">Suit Company</h5>
                            <p class="card-text">Kostym för Herr<p>
                                <h6 class="card-title">5499 SEK</h6>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="card">
                        <img src="/images/jeansjacket.png" class="card-img-top" alt="Denim Jacket">
                        <div class="card-body">
                            <h5 class="card-title">Denim .CO</h5>
                            <p class="card-text">Jeansjacka för Dam</p>
                            <h6 class="card-title">799 SEK</h6>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="card">
                        <img src="/images/tracksuit.png" class="card-img-top" alt="Tracksuit">
                        <div class="card-body">
                            <h5 class="card-title">The Tracksuits</h5>
                            <p class="card-text">Tracksuit / Herr&Dam</p>
                            <h6 class="card-title">399 SEK</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    

}
