@model PandaStore.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorys)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorys.CategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTitel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductTitel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventoryQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductIsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductIsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextDelivery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextDelivery)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
