@model IEnumerable<PandaStore.Models.CustomerProduct>

@{
    ViewData["Title"] = "Details";
}

@{
    double totalPrice = 0;
}

<h3>Kvitto detlajer:</h3>
 
   <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("CustomerProduct ID")
                    </th>
                    <th>
                         @Html.DisplayName("Produkt")
                    </th>               
                    <th>
                        @Html.DisplayName("Antal")
                    </th>
                    <th>
                        @Html.DisplayName("Styckepris")
                    </th>
                    <th>
                        @Html.DisplayName("Kvittonummer")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerProductID)
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReceiptNumber)
                        </td>
                        @{totalPrice += item.Price * item.Quantity;}
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <h3>Totalt belopp: @totalPrice kr</h3>
        </div>