@model IEnumerable<PandaStore.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Här kan du se dina beställningar och ändra dina kontaktuppgifter </h2>
<h3>
    <a asp-area="Identity" asp-page="/Account/Manage/Index">Dina uppgifter</a>
</h3>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Inköpsdatum")
            </th>
            <th>
                @Html.DisplayName("Totalt belopp")
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTotalPrice)KR
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="MyPage" asp-action="Details" asp-route-id="@item.OrderID">Details</a>
            </td>
        </tr>}
    </tbody>
</table>
