@model IEnumerable<PandaStore.Models.CustomerProduct>

@{
    ViewData["Title"] = "CheckOut";
}
@{
    double totalPrice = 0; // Flytta totalPrice till en överordnad scopingskontext
    int receiptNumber = 0;
}
<h1>Kassa</h1>

    <div>
        <table class="table">
            <thead>
                <tr>
                    @*<th>
                        @Html.DisplayName("CustomerProduct ID")
                    </th>*@
                    @*<th>
                        @Html.DisplayName("Produkt id")
                    </th>*@
                    <th>
                         @Html.DisplayNameFor(model => model.ProductName)
                    </th>               
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sum)
                    </th>
                    <th>
                        @Html.DisplayName("Kvittonummer")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.CustomerProductID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FK_ProductID)
                        </td>*@
                         <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity) ST
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price) SEK
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sum) SEK
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReceiptNumber)
                        </td>
                        @{totalPrice += item.Price * item.Quantity;}
                        @{receiptNumber = item.ReceiptNumber;}
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <div class="totalPrice">
            @*<h3">Totalt belopp att betala: @totalPrice SEK</h3>*@
            <h3>Totalt belopp: @totalPrice.ToString("N2", new System.Globalization.CultureInfo("sv-SE")) kr</h3>
        </div>
        <a class="btn btn-primary" asp-action="sendOrder" asp-route-receiptNumber="@receiptNumber">
            Betala idag
        </a> 
        <a class="btn btn-primary" asp-action="sendOrder" asp-route-receiptNumber="@receiptNumber">
            Betala med faktura
        </a> 
    </div>