@model IEnumerable<PandaStore.Models.CustomerProduct>

@{
    ViewData["Title"] = "Index";
}
@{
    double totalPrice = 0; // Flytta totalPrice till en överordnad scopingskontext
}


@if (Model != null)
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FK_ProductID)
                    </th>               
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReceiptNumber)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FK_ProductID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReceiptNumber)
                        </td>
                        @{totalPrice += item.Price * item.Quantity;}
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CustomerProductID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CustomerProductID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CustomerProductID">Delete</a>
                     </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <h3>Totalt belopp: @totalPrice kr</h3>
        </div>
        <a class="btn btn-primary" asp-controller="" asp-action="">
            Vidare till kassan, nu ska det skickas till checkout klassen där betalning sker
        </a> 
        <a class="btn btn-primary" asp-controller="CustomerProduct" asp-action="AddAutoProducts">
            lägg till varor (testis)
        </a>
    </div>
}
else

{
    <h3>Varukorgen är tom</h3>
}
