@model IEnumerable<PandaStore.Models.CustomerProduct>

@{
    ViewData["Title"] = "Index";
}
@{
    double totalPrice = 0; // Flytta totalPrice till en överordnad scopingskontext
}


@if (Model != null && Model.Any())
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("CustomerProduct ID")
                    </th>
                    <th>
                         @Html.DisplayName("Produkt")
                    </th>               
                    <th>
                        @Html.DisplayName("Antal")
                    </th>
                    <th>
                        @Html.DisplayName("Styckepris")
                    </th>
                    <th>
                        @Html.DisplayName("Kvittonummer")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReceiptNumber)
                        </td>
                        @{totalPrice += item.Price * item.Quantity;}
                        <td>
                            <form asp-controller="CustomerProduct" asp-action="RemoveFromCart" method="post">
                                <input type="hidden" name="id" value="@item.CustomerProductID" />
                                <button class="btn btn-primary"  type="submit">Radera</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <h3>Totalt belopp: @totalPrice kr</h3>
        </div>
        <a class="btn btn-primary" asp-controller="" asp-action="">
            Vidare till kassan, nu ska det skickas till checkout klassen där betalning sker
        </a> 
        <a class="btn btn-primary" asp-controller="CustomerProduct" asp-action="AddAutoProducts">
            lägg till varor (testis)
        </a>
    </div>
}
else

{
    <div>
        <h3>Varukorgen är tom</h3>
        <p>När du lägger till något i din varukorg så dyker det upp här</p>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">
                Börja Handla
        </a>
         <a class="btn btn-primary" asp-controller="CustomerProduct" asp-action="AddAutoProducts">
                lägg till varor (testis)
        </a>
    </div>
}
