@model IEnumerable<PandaStore.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Produktlager</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Lägg till ny produkt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categorys)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductTitel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductIsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextDelivery)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categorys.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductTitel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductIsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextDelivery)
            </td>
            <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-primary">Redigera</a>
                        <a asp-action="Details" asp-route-id="@item.ProductID" class="btn btn-info">Detaljer</a>
                        <a asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-danger">Radera</a>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
